.container {
  max-width: 100%;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.home {
  margin-top: 50px;
}
.form {
  margin-top: 50px;
  h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.custom_input_wrapper {
  position: relative;
  margin-bottom: 25px;
 
  .error_block {
    position: absolute;
    bottom: -20px;
  }
}
.radio_input_wrapper {
  margin-bottom: 10px;
  label {
    cursor: pointer;
  }
  span {
    display: inline-block;
    margin-left: 5px;
  }
} 
.mod-main-input__error {
  color: #ff0000;
}

.menu_link {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 18px;
  &.active {
    background-color: #ff0000;
    color: #fff;
  }
}

.spinner_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .spinner-border {
    position: relative;
    z-index: 1000;
  }
}
.modal-content {
  background-color: #fff!important;
  padding: 30px;
  border-radius: 30px;
}